<html>
  <head>
    <title>Social Services Connection</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
  </head>
  <body>
    <nav id="main-nav">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Social Services Connection</a>
      </div>
    </nav>
    <main id="content">
      <div class="card-panel">