<% include ../partials/header %>

<form action="<%= fAction %>" method="POST">
  <p><%= fQuestion %></p>

  <button id="maleSelect" name="maleSelect">Male</button>
  <button id="femaleSelect" name="femaleSelect">Female</button>
  <button id="otherSelect" name="otherSelect">Other</button>

  <input id="genderField" type="text" name="<%= fValue %>">

  <button name="nextButton">Next question</button>

</form>

<script>
  $('#maleSelect').click(function(e){
    e.preventDefault();
    $('#genderField')[0].value = "0"
  })

  $('#femaleSelect').click(function(e){
    e.preventDefault();
    $('#genderField')[0].value = "1"
  })

  $('#otherSelect').click(function(e){
    e.preventDefault();
    $('#genderField')[0].value = "2"
  })
</script>
<% include ../partials/footer %>