<% include ../partials/header %>

<form action="<%= fAction %>" method="POST">
  <p><%= fQuestion %></p>

  <button name="maleSelect">Male</button>
  <button name="femaleSelect">Female</button>
  <button name="otherSelect">Other</button>

  <input type="checkbox" hidden name="<%= fValue>"

  <button name="nextButton">Next question</button>

</form>

<script>
  
</script>
<% include ../partials/footer %>