<% include ../partials/header %>

  <form action="viewResults" method="POST">
    <p>
        Please confirm your entries
    </p>
    
        Gender <input id="selectedGender"></input>
        Pregnant? <input id="isPregnant"></input>
        Income? <input id="income"></input>
        householdSize? <input id="householdSize"></input>
        Foster Child? <input id="isFosterChild"></input>
        Age? <input id="age"></input>
        Disabled? <input id="isDisabled"></input>
        Student? <input id="isStudent"></input>
    <button>Submit</button>

  </form>

<% include ../partials/footer %>
<script>
function mapGenderNumberToStringValue(number){
    if(number == 0)
        return 'male'
    if (number == 1)
        return 'female'
    else
        return 'other'
}
$('#selectedGender').val(mapGenderNumberToStringValue(localStorage.getItem("gender")))
$('#isDisabled').val(localStorage.getItem("isDisabled") !== "false" ? "Yes" : "No");
$('#isStudent').val(localStorage.getItem("isStudent") !== "false" ? "Yes" : "No");
$('#isPregnant').val(localStorage.getItem("isPregnant") !== "false" ? "Yes" : "No");
$('#isFosterChild').val(localStorage.getItem("isFosterChild") !== "false" ? "Yes" : "No");
$('#age').val(localStorage.getItem("age"));
$('#householdSize').val(localStorage.getItem("householdSize"));
$('#income').val(localStorage.getItem("income"));

</script>
