<% include ../partials/header %>
  <p>Here are the benefits you may qualify for:</p>

  <ul class="collapsible popout">
      <!--- -->
  <% if(reducedFareBusPass == true){ %>
      <li>
        <div class="collapsible-header">
          <i class="material-icons"></i>Childcare Assistance</div>
        <div class="collapsible-body">
          <p>
            You likely qualify for a reduced rate on a bus pass
          </p>
          <p>
            <a href="https://www.valleymetro.org/reduced-fare-program" 
              class="waves-effect waves-light btn blue darken-3">More information</a>
          </p>
        </div>
      </li>
      <% } %>
  <!-- -->
    <!--- -->
  <% if(childCareAssist == true){ %>
      <li>
        <div class="collapsible-header">
          <i class="material-icons"></i>Childcare Assistance</div>
        <div class="collapsible-body">
          <p>
            Given the information you provided it is likely that you would qualify for subsidized childcare
          </p>
          <p>
            <a href="https://des.az.gov/services/basic-needs/child-care" 
              class="waves-effect waves-light btn blue darken-3">More information</a>
          </p>
        </div>
      </li>
      <% } %>
  <!-- -->
  <!--- -->
  <% if(schoolLunch !== 'full'){ %>
      <li>
        <div class="collapsible-header">
          <i class="material-icons"></i>Free/Reduced Lunches</div>
        <div class="collapsible-body">
          <p>
            Your kids likely quaify for <%= schoolLunch %> lunch at school.
          </p>
          <p>
            <a href="https://www.fns.usda.gov/school-meals/applying-free-and-reduced-price-school-meals" 
              class="waves-effect waves-light btn blue darken-3">More information</a>
          </p>
        </div>
      </li>
      <% } %>
  <!-- -->
    <% if(canGetSnap === true){ %>
      <li>
        <div class="collapsible-header">
          <i class="material-icons"></i>SNAP Benefits</div>
        <div class="collapsible-body">
          <p>
            The maximimum SNAP benefit you may be eligible for would be $<%= maxSnapBenefits %>. For more information, see below.
          </p>
          <p>
            <a href="https://des.az.gov/services/basic-needs/food/nutrition-assistance-formerly-food-stamp-program" class="waves-effect waves-light btn blue darken-3">More Information About SNAP</a>
          </p>
        </div>
      </li>
      <% } %>
        <% if(canGetCashAssistance === true){ %>
          <li>
            <div class="collapsible-header">
              <i class="material-icons"></i>Cash Benefits/Assistance</div>
            <div class="collapsible-body">
              <p>
                The maximimum cash benefit you may be eligible for would be $<%= maxCashAssistance %>. For more information, see below.
              </p>
              <p>
                <a href="https://des.az.gov/services/basic-needs/financial-support/cash-assistance" class="waves-effect waves-light btn blue darken-3">More Information About Cash Assistance</a>
              </p>
            </div>
          </li>
          <% } %>
                <% if(eligibleForHealthcare != 'none'){ %>
                  <li>
                    <div class="collapsible-header">
                      <i class="material-icons"></i>Healthcare</div>
                    <div class="collapsible-body">
                      <p>
                        Based on the information provided, you could be eligible for healthcare through the Arizona Health Care Cost Containment
                        System.
                      </p>
                      <p>
                        <a href="https://www.azahcccs.gov/" class="waves-effect waves-light btn blue darken-3">More Information About AHCCCS</a>
                      </p>
                    </div>
                  </li>
                  <% } else { %>
                    <li>
                      <div class="collapsible-header">
                        <i class="material-icons"></i>Healthcare</div>
                      <div class="collapsible-body">
                        <p>
                          Based on the information provided, you would not be eligible for the Arizona Health Care Cost Containment system. You may
                          still be eligible for subsidized healthcare through the Affordable Care Act.
                        </p>
                        <p>
                          <a href="https://www.healthcare.gov" class="waves-effect waves-light btn blue darken-3">More Information About The ACA</a>
                        </p>
                      </div>
                    </li>

                    <% } %>
  </ul>

  <div class="row">
    <div class="col s4 offset-s4">
      <a href="/" class="btn waves-effect waves-light blue darken-3">Start Over</a>
    </div>
  </div>

  <% include ../partials/footer %>

    <script>
      $(document).ready(function () {
        $('.collapsible').collapsible();
      });
    </script>