<% include ../partials/header %>

<form action="<%= fAction %>" method="POST">
  <p><%= fQuestion %></p>

  <input type="text" name="<%= fValue %>">

  <button name="nextButton" class="btn waves-effect waves-light" type="submit">Next question</button>

</form>

<% include ../partials/footer %>