<% include ../partials/header %>

  <form action="<%= fAction %>" method="POST">
    <p>
      <%= fQuestion %>
    </p>

  <input id="textBox" type="text" name="<%= fValue %>">

    <div class="row">
      <div class="col s5 offset-s7">
      <button name="nextButton" class="btn waves-effect waves-light blue darken-3" type="submit">Next question</button>
    </div>
    </div>

  </form>

<<<<<<< HEAD
<% include ../partials/footer %>
<script>
let value = ""

$('form').submit(function(){
  console.log("submit");
  value = $('#textBox').val();
  localStorage.setItem("<%= fValue %>",  value )
});


</script>
=======
  <% include ../partials/footer %>
>>>>>>> userinterface
