<% include ../partials/header %>

<form action="<%= fAction %>" method="POST">
  <p><%= fQuestion %></p>

  <input id="textBox" type="text" name="<%= fValue %>">

  <button name="nextButton">Next question</button>

</form>

<% include ../partials/footer %>
<script>
let value = ""

$('form').submit(function(){
  console.log("submit");
  value = $('#textBox').val();
  localStorage.setItem("<%= fValue %>",  value )
});


</script>