<% include ../partials/header %>

<form action="<%= fAction %>" method="POST">
  <p><%= fQuestion %></p>

  <button class="question-button inactive">Yes</button>
  <button class="question-button inactive">No</button>

  <input type="checkbox" hidden name="<%= fValue %>"

  <button name="nextButton">Next question</button>

</form>

<% include ../partials/footer %>