html, body {
  margin: 0;
  background: lightgray;
}

div.nav-wrapper {
  color: white;
  background: black;
}

h1#title {
  margin: 0;
  padding: 0;
}

div.card-panel {
  max-width: 500px;
  margin: 35px auto;
  background: white;
  padding: 25px;
}

div.card-panel p, div.card-panel input {
  font-size: 24px;
  text-align: center;
}

div.card-panel button {
  margin: 15px auto 0 auto;
}

button#maleSelect, button#femaleSelect, button#otherSelect {
  width: 125px;
  border: none;
  background: none;
}

button#maleSelect:hover, button#femaleSelect:hover, button#otherSelect:hover {
  background: yellow;
}

button#maleSelect.active, button#femaleSelect.active, button#otherSelect.active {
  background: lightgreen;
}

button#yesButton, button#noButton {
  width: 150px;
}

button#yesButton:hover, button#noButton:hover {
  background: yellow;
}

button#yesButton.active, button#noButton.active {
  background: lightgreen;
}


i.fas {
  margin: 0 5px;
}

fieldset {
  font-size: 25px;
  margin: auto;
  text-align: center;
  min-height: 300px;
  border-radius: 10px;
  background: white;
}

.question-button {
  border-radius: 5px;
}

button.inactive {
  background: gray;
}

button.active {
  background: green;
}

.hidden {
  display: none;
}